# Relatório de Análise I

## Importando a Base de Dados

import pandas as pd

In [5]:
dados = pd.read_csv('aluguel.csv/aluguel.csv', sep = ';')

In [6]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [7]:
type(dados)

pandas.core.frame.DataFrame

In [8]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
Tipo          32960 non-null object
Bairro        32960 non-null object
Quartos       32960 non-null int64
Vagas         32960 non-null int64
Suites        32960 non-null int64
Area          32960 non-null int64
Valor         32943 non-null float64
Condominio    28867 non-null float64
IPTU          22723 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [10]:
dados.head(50)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
13,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
14,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
15,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
16,Prédio Inteiro,Botafogo,0,0,0,536,28000.0,NaN,3563.0
17,Flat,Botafogo,3,1,1,80,3800.0,1040.0,NaN
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
19,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
20,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
21,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
22,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
23,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN
24,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,NaN
25,Flat,Leblon,1,0,0,56,4500.0,1900.0,1500.0
26,Conjunto Comercial/Sala,São Cristóvão,0,1,0,25,1100.0,600.0,NaN
27,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0
28,Apartamento,Tijuca,1,0,0,48,750.0,772.0,25.0
29,Loja/Salão,Campo Grande,0,1,0,35,1300.0,950.0,NaN
30,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0
31,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
32,Apartamento,Botafogo,2,1,0,76,2500.0,740.0,NaN
33,Apartamento,Copacabana,3,1,2,378,10000.0,2150.0,700.0
34,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0
35,Conjunto Comercial/Sala,Barra da Tijuca,0,1,0,22,700.0,NaN,NaN
36,Apartamento,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,NaN
37,Apartamento,Leblon,3,1,0,110,3900.0,1500.0,120.0
38,Conjunto Comercial/Sala,Centro,0,5,0,1306,117540.0,19486.0,NaN
39,Quitinete,Copacabana,1,0,0,27,1300.0,380.0,53.0
40,Apartamento,Jardim Oceânico,3,3,1,200,3500.0,1780.0,496.0
41,Apartamento,Barra da Tijuca,3,1,2,70,1800.0,1095.0,140.0
42,Conjunto Comercial/Sala,Recreio dos Bandeirantes,0,1,0,50,1500.0,250.0,NaN
43,Apartamento,Copacabana,4,1,0,244,5000.0,2500.0,4100.0
44,Apartamento,Barra da Tijuca,3,2,1,110,4500.0,2000.0,450.0
45,Conjunto Comercial/Sala,Centro,0,0,0,460,7500.0,4797.0,2019.0
46,Conjunto Comercial/Sala,Centro,0,0,0,1170,140456.0,23409.0,5852.0
47,Apartamento,Recreio dos Bandeirantes,2,2,2,90,3000.0,1340.0,NaN
48,Apartamento,Recreio dos Bandeirantes,3,2,2,100,2600.0,380.0,NaN
49,Apartamento,Barra da Tijuca,3,1,1,72,2350.0,600.0,70.0

In [13]:
## Informações Gerais sobre a Base de Dados

In [14]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [16]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

In [18]:
tipos_de_dados.name = 'Variáveis'

In [19]:
tipos_de_dados

           Tipos de Dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [20]:
dados.shape

(32960, 9)

In [21]:
print('A base de dados apresenta {} registros (imóveis) e {} variáveis'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 registros (imóveis) e 9 variáveis